<html><body>
<p>Bonjour __USER_FIRSTNAME__, <br/><br/>Nous n'avons pas pu recouvrir le montant de ton abonnement ce mois ci<br /><br />

    Merci de (re)valider ton moyen de paiement
    <br />
    <a href="__LINK_PAYMENT__" style="background:linear-gradient(to bottom, #FA7C71 5%, #FA7C71 100%);	background-color:#FA7C71;	border-radius:28px;	border:1px solid #FA7C71; font-weight: bold;	display:inline-block;	cursor:pointer;	color:#001E24;	font-family:Arial;	font-size:17px;	padding:16px 31px;	text-decoration:none;	text-shadow:0px 1px 0px #FA7C71;"> Je valide un moyen de paiement réccurent</a><br />
    <br />
</p>

<p>__USER_FIRSTNAME__ __USER_LASTNAME__<br />
    __USER_EMAIL__ <br />
    __USER_PHONE__ <br />
</p>

<br />

    <br />
    À bientôt 👋<br /></p>
</body></html>
