<div class="email-content">
    <p class="paragraph-3">
        Bonjour <span style="font-weight: bold;">__USER_FIRSTNAME__</span>,<br><br>Bienvenue chez __PLACE_NAME__ !
        <br>Ton
        espace utilisateur est bien crée. Pour confirmer ta place, merci de valider un moyen de paiement pour le
        prélèvement mensuel de <span style="font-weight: bold">__CONTRACT_DISCOUNTED_AMOUNT__ &euro; HT</span> en cliquant sur ce bouton :</p>
    __SPACER__
    <a href="__LINK_PAYMENT__" style="__BUTTON_STYLE__">Valider le paiement récurrent</a>
    __SPACER__
    <p class="paragraph-2">Ce contrat est pour :<br>
        <span style="font-weight: bold;">__USER_FIRSTNAME__ __USER_LASTNAME__<br>__USER_EMAIL__<br>__USER_PHONE__</span>
    </p>
    <div class="spacer"></div>
    <p class="paragraph-2">À bientôt 👋</p>
    <div class="spacer-40"></div>
</div>
