
<p>Bonjour __USER_FIRSTNAME__,<br />
    <br />
    Vous avez réservé :<br />
    <br />
    Le <span style="font-weight: bolder">bureau __RESERVATION_DESKREFERENCE__</span> dans la salle '<span style="font-weight: bolder">__RESERVATION_ROOMNAME__</span>'<br />
    aujourd’hui de __HOUR_START__ à __HOUR_END__<br />
</p>
__SPACER__
<p>__USER_FIRSTNAME__ __USER_LASTNAME__<br />
    __USER_EMAIL__ <br />
    __USER_PHONE__ <br />
</p>
__SPACER__
<p>Si besoin, pour ouvrir la porte,<br />
    <br />
    <a href="__LINK_DOOR__" style="__BUTTON_STYLE__"> cliquez ici </a><br />
    <br />
    À tout à l'heure 👋<br />
</p>
