<html><body>
<p>Bonjour __USER_FIRSTNAME__,<br />
    <br />
    Vous avez réservé :<br />
    <br />
    Le <span style="font-weight: bolder">bureau __RESERVATION_DESKREFERENCE__</span> dans la salle '<span style="font-weight: bolder">__RESERVATION_ROOMNAME__</span>'<br />
    aujourd’hui de __HOUR_START__ à __HOUR_END__<br />
</p>
<br />
<p>__USER_FIRSTNAME__ __USER_LASTNAME__<br />
    __USER_EMAIL__ <br />
    __USER_PHONE__ <br />
</p>
<br />
<p>Si besoin, pour ouvrir la porte,<br />
    <br />
    <a href="__LINK_DOOR__" style="background:linear-gradient(to bottom, #FA7C71 5%, #FA7C71 100%);	background-color:#FA7C71;	border-radius:28px;	border:1px solid #FA7C71; font-weight: bold;	display:inline-block;	cursor:pointer;	color:#001E24;	font-family:Arial;	font-size:17px;	padding:16px 31px;	text-decoration:none;	text-shadow:0px 1px 0px #FA7C71;"> cliquez ici </a><br />
    <br />
    À tout à l'heure 👋<br />
</p>
</body></html>
