<html><body>
<p>Votre réservation a été correctement annulée, __RESERVATION_POINTS__ point(s) vous ont été recrédités <br /><br />

    Le <span style="font-weight: bolder">bureau __RESERVATION_DESKREFERENCE__</span> dans la salle '<span style="font-weight: bolder">__RESERVATION_ROOMNAME__</span>'<br />
   le __DATE__ de __HOUR_START__ à __HOUR_END__<br />

</p>
<p>__USER_FIRSTNAME__ __USER_LASTNAME__<br />
    __USER_EMAIL__ <br />
    __USER_PHONE__ <br />
</p>

<br />

<p>
    <br />
    À bientôt 👋<br /></p>
</body></html>
